// Importing font 'Roboto' thin and medium from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


// SASS Partial Files
@import 'partials/typography';
@import 'partials/colours';
@import 'partials/buttons';
@import 'partials/breakpoints';

// Styling
html {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

// Navigation
.nav_wrapper {
    display: flex;
    flex-direction: row;
    background-color: $primaryBackground;

    .nav_logo {
        flex: 1;
        @include tablet {
            flex: 0;
        }
        @include smartphoneLarge {
            flex: 0;
        }
        @include smartphoneMedium {
            flex: 0;
        }
        @include smartphone {
            flex: 0;
        }
    }

    .nav_links {
        flex: 1;
        z-index: 1;
        background-color: $primaryBackground;
        padding: 1em 0;
        @include laptopLarge {
            flex: 0.95
        }
        @include laptop {
            flex: .9;
        }
        @include tablet {
            flex: 1;
        }
        @include smartphoneLarge {
            flex: 1;
        }
        @include smartphoneMedium {
            flex: 1;
        }
        @include smartphone {
            flex: 1;
        }
    }

    .nav_links ul {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: $heroHeading;
        flex-basis: 20%;
        justify-content: space-evenly;

        @include smartphoneLarge {
            padding: 0;
        }
        @include smartphoneMedium {
            padding: 0;
        }
        @include smartphone {
            padding: 0;
        }

        li {
            color: $heroHeading;
            list-style: none;
            flex-basis: 20%;
            @include laptop {
                flex-basis: 25%;
                justify-content: space-between;
            }
            @include tablet {
                flex-basis: 25%;
                justify-content: space-evenly;
                text-align: center;
            }
            @include smartphoneLarge {
                flex-basis: 25%;
                justify-content: space-evenly;
                text-align: center;
                padding: 0;
            }
            @include smartphoneMedium {
                flex-basis: 25%;
                justify-content: space-evenly;
                text-align: center;
                padding: 0;
            }
            @include smartphone {
                flex-basis: 25%;
                justify-content: space-evenly;
                text-align: center;
                padding: 0;
            }
            
            a {
                color: $heroHeading;
                text-decoration: none;
                @include navLinks;
                @include laptop {
                    font-size: 1.2em;
                }
                @include tablet {
                    font-size: 1.2em;
                }
                @include smartphoneLarge {
                    font-size: 1.2em;
                }
                @include smartphoneMedium {
                    font-size: 1.2em;
                }
                @include smartphone {
                    font-size: 1em;
                }

                &:hover {
                    color: $accent;
                    transition: .3s;
                }
            }
        }
    }
}

// Hero Section
.hero_wrapper {
    display: flex;
    height: 90vh;
    align-items: center;
    background-color: $primaryBackground;
    @include laptop{
        background-image: url(../assets/images/tablet_hero.png);
        background-size: cover;
        background-color: transparent;
    }
    @include tablet {
        background-image: url(../assets/images/tablet_hero.png);
        background-size: cover;
        background-color: transparent;
    }
    @include smartphoneLarge {
        background-image: url(../assets/images/hero_image_opacity_mobile.png);
        background-size: cover;
        background-color: transparent;
    }
    @include smartphoneMedium {
        background-image: url(../assets/images/hero_image_opacity_mobile.png);
        background-size: cover;
        background-color: transparent;
    }
    @include smartphone {
        background-image: url(../assets/images/hero_image_opacity_mobile.png);
        background-size: cover;
        background-color: transparent;
    }
}

.hero_left {
    flex: 1;
    margin-left: 5%;
    @include laptopLarge {
        margin-left: 5%
    }
    @include laptop{
        margin-left: 0;
        text-align: center;
        margin-top: 0em;
        width: 50%;
    }
    @include tablet {
        margin-left: 0;
        text-align: center;
        margin-top: 0em;
        width: 50%;
    }
    @include smartphoneLarge {
        margin-left: 0;
        text-align: center;
        margin-top: 1em;
        width: 50%;
    }
    @include smartphoneMedium {
        margin-left: 0;
        text-align: center;
        margin-top: 1em;
        width: 50%;
    }
    @include smartphone {
        margin-left: 0;
        text-align: center;
        margin-top: 1em;
        width: 50%;
    }

    h1 {
        @include heroHeading;
        @include laptopLarge {
            font-size: 3.5em;
        }
        @include laptop {
            font-size: 4em;
            color: $secondaryHeading;
        }
        @include tablet {
            font-size: 3.5em;
            color: $secondaryHeading;
      
        }
        @include smartphoneLarge {
            font-size: 2.5em;
            width: 90%;
            margin: 0 auto;
            color: $secondaryHeading;
        }
        @include smartphoneMedium {
            font-size: 2em;
            width: 90%;
            margin: 0 auto;
            color: $secondaryHeading;
        }
        @include smartphone {
            font-size: 2em;
            width: 90%;
            margin: 0 auto;
            color: $secondaryHeading;
        }
    }
        span {
            color: $accent;
        }

    p {
        @include heroDescription;
        margin: 2em 0;
        @include laptopLarge {
            font-size: 1.75em;
        }
        @include laptop {
            color: $secondaryHeading;
        }
        @include tablet {
            color: $secondaryHeading;
        }
        @include smartphoneLarge {
            color: $secondaryHeading;
            font-size: 1.25em;
            margin: 3em 0;
        }
        @include smartphoneMedium {
            color: $secondaryHeading;
            font-size: 1.25em;
            margin: 3em .5em;
        }
        @include smartphone {
            color: $secondaryHeading;
            font-size: 1em;
            margin: 2em .5em;
        }
    }


    button {
        @include heroButton;
        cursor: pointer;
        @include laptop {
            width: 80%;
            font-size: 1.5em;
            padding: .8em 3em;
        }
        @include tablet {
            width: 70%;
            font-size: 1.5em;
            padding: .8em 3em;
        }
        @include smartphoneLarge {
            width: 70%;
            font-size: 1em;
            padding: .8em 3em;
        }
        @include smartphoneMedium {
            width: 70%;
            font-size: 1em;
            padding: .8em 3em;
        }
        @include smartphone {
            width: 70%;
            font-size: .8em;
            padding: .8em 3em;
        }
    }
}

.hero_right {
    flex: 1;
    height: 110vh;
    @include laptop {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include smartphoneLarge {
        display: none;
    }
    @include smartphoneMedium {
        display: none;
    }
    @include smartphone {
        display: none;
    }

    img {
        box-shadow: 0px 4px 7px rgba(0 , 0, 0, 0.2);
        z-index: -100;
        @include laptopLarge {
            height: 95%;
            width: 90%;
            float: right;
        }
        @include laptop {
            height: 95%;
            width: 90%;
            float: right;
        }
    }
}

// About Section
.about_wrapper {
    background-color: $secondaryBackground;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6% 0;
    margin: 0 auto;

    h1 {
        @include pageHeading;
        @include laptopLarge {
            font-size: 3.5em;
        }
        @include laptop {
            font-size: 3.5em;
        }
        @include tablet {
            font-size: 3em;
        }
        @include smartphoneLarge {
            font-size: 2.5em;
        }
        @include smartphoneMedium {
            font-size: 2em;
        }
        @include smartphone {
            font-size: 2em;
        }
    }

    p {
        @include pageDescription;
        margin: 2% 10%;
        @include laptopLarge {
            font-size: 1.75em;
        }
        @include laptop {
            font-size: 1.5em;
        }
        @include tablet {
            font-size: 1.5em;
        }
        @include smartphoneLarge {
            font-size: 1.25em;
        }
        @include smartphoneMedium {
            font-size: 1em;
        }
        @include smartphone {
            font-size: 1em;
        }
    }

    img {
        position: absolute;
        width: 48%;
        height: 50%;
        opacity: .1;
        top: 125%;
        left: 51%;
        z-index: 0;
        @include laptopLarge {
            top: 120%;
        }
        @include laptop {
            top: 120%;
        }
        @include tablet {
            top: 120%;
        }
        @include smartphoneLarge {
            display: none;
        }
        @include smartphoneMedium {
            display: none;
        }
        @include smartphone {
            display: none;
        }
    }
}

// Services Section

.services_wrapper {
    @include smartphoneLarge {
        height: auto;
    }
}

.row_one {
        display: flex;
        @include smartphoneLarge {
            flex-direction: column;            
        }
        @include smartphoneMedium {
            flex-direction: column;            
        } 
        @include smartphone {
            flex-direction: column;            
        } 

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 4em;
            }
            @include laptop {
                font-size: 3em;
            }
            @include tablet {
                font-size: 3em;
            }
            @include smartphoneLarge {
                font-size: 2.5em;
            }
            @include smartphoneMedium {
                font-size: 2em;
            }
            @include smartphone {
                font-size: 2em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 2em;
                width: 60%;
                padding-bottom: 2.5em;
            }
            @include laptop {
                font-size: 1.75em;
                width: 70%;
                padding-bottom: 2em;
            }
            @include tablet {
                font-size: 1.8em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneLarge {
                font-size: 1.25em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneMedium {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphone {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
        }
    }

    .service_image {
        flex: 1;

        @include smartphoneLarge {
            margin: -4px;
        }
        @include smartphoneMedium {
            margin: -4px;
        }
        @include smartphone {
            margin: -4px;
        }
    }
}

.row_two {
    display: flex;
    @include smartphoneLarge {
        flex-direction: column-reverse;            
    }
    @include smartphoneMedium {
        flex-direction: column-reverse;            
    }
    @include smartphone {
        flex-direction: column-reverse;            
    }  

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 4em;
            }
            @include laptop {
                font-size: 3em;
            }
            @include laptop {
                font-size: 3em;
            }
            @include tablet {
                font-size: 3em;
            }
            @include smartphoneLarge {
                font-size: 2.5em;
            }
            @include smartphoneMedium {
                font-size: 2em;
            }
            @include smartphone {
                font-size: 2em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 2em;
                width: 60%;
                padding-bottom: 2.5em;
            }
            @include laptop {
                font-size: 1.75em;
                width: 70%;
                padding-bottom: 2em;
            }
            @include tablet {
                font-size: 1.8em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneLarge {
                font-size: 1.25em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneMedium {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphone {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
        }
}

.service_image {
    flex: 1;

    @include smartphoneLarge {
        margin: -4px;
    }
    @include smartphoneMedium {
        margin: -4px;
    }
    @include smartphone {
        margin: -4px;
    }
}
}

.row_three {
    display: flex;
    @include smartphoneLarge {
        flex-direction: column;            
    }
    @include smartphoneMedium {
        flex-direction: column;            
    }
    @include smartphone {
        flex-direction: column;            
    }  

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 4em;
            }
            @include laptop {
                font-size: 3em;
            }
            @include tablet {
                font-size: 3em;
            }
            @include smartphoneLarge {
                font-size: 2.5em;
            }
            @include smartphoneMedium {
                font-size: 2em;
            }
            @include smartphone {
                font-size: 2em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 2em;
                width: 60%;
                padding-bottom: 2.5em;
            }
            @include laptop {
                font-size: 1.75em;
                width: 70%;
                padding-bottom: 2em;
            }
            @include tablet {
                font-size: 1.8em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneLarge {
                font-size: 1.25em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneMedium {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphone {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
        }
}

.service_image {
    flex: 1;

    @include smartphoneLarge {
        margin: -4px;
    }
    @include smartphoneMedium {
        margin: -4px;
    }
    @include smartphone {
        margin: -4px;
    }
}
}

.row_four {
    display: flex;
    @include smartphoneLarge {
        flex-direction: column-reverse;            
    }
    @include smartphoneMedium {
        flex-direction: column-reverse;            
    }
    @include smartphone {
        flex-direction: column-reverse;            
    }   

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 4em;
            }
            @include laptop {
                font-size: 3em;
            }
            @include tablet {
                font-size: 3em;
            }
            @include smartphoneLarge {
                font-size: 2.5em;
            }
            @include smartphoneMedium {
                font-size: 2em;
            }
            @include smartphone {
                font-size: 2em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 2em;
                width: 60%;
                padding-bottom: 2.5em;
            }
            @include laptop {
                font-size: 1.75em;
                width: 70%;
                padding-bottom: 2em;
            }
            @include tablet {
                font-size: 1.8em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneLarge {
                font-size: 1.25em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphoneMedium {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
            @include smartphone {
                font-size: 1em;
                width: 70%;
                padding-bottom: 3em;
            }
        }
}

.service_image {
    flex: 1;
}
}

// Testimonial Section
.testimonials_wrapper {
    background-color: $secondaryBackground;
    display: flex;
    flex-direction: column;


    .testimonial_heading {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @include smartphoneLarge {
            img {
                display: none;
            }
        }
        @include smartphoneMedium {
            img {
                display: none;
            }
        }
        @include smartphone {
            img {
                display: none;
            }
        }
        
        h1 {
            @include pageHeading;
            @include laptopLarge {
                font-size: 3em;
                text-align: center;
            }
            @include laptop {
                font-size: 2.5em;
                text-align: center;
            }
            @include tablet {
                text-align: center;
                font-size: 2em;
            }
            @include smartphoneLarge {
                text-align: center;
                font-size: 2.5em;
                width: 90%;
            }
            @include smartphoneMedium {
                text-align: center;
                font-size: 2em;
                width: 90%;
            }
            @include smartphone {
                text-align: center;
                font-size: 2em;
                width: 90%;
            }

            span {
                color: $accent;
            }
        }
    }

    .tesimonial_content {
        flex: 2;
        
        img {
            position: absolute;
            margin: -3em 0 0 7em;
            opacity: .8;
            @include laptop {
                height: 200px;
                width: 200px;
            }
            @include tablet {
                height: 200px;
                width: 200px;
                margin: -2em 0 0 3em;
                opacity: 0.9;
            }
            @include smartphoneLarge {
                height: 100px;
                width: 100px;
                margin: -2em 0 0 1em;
                opacity: 0.9;
            }
            @include smartphoneMedium {
                height: 100px;
                width: 100px;
                margin: -2em 0 0 1em;
                opacity: 0.9;
            }
            @include smartphone {
                height: 100px;
                width: 100px;
                margin: -2em 0 0 1em;
                opacity: 0.9;
            }
        }

        p {
            width: 60%;
            text-align: center;
            margin: 2em auto;
            @include pageDescription;
            @include laptopLarge {
                font-size: 1.5em;
            }
            @include laptop{
                font-size: 1.5em;
                width: 70%;
            }
            @include tablet{
                font-size: 1.5em;
                width: 85%;
            }
            @include smartphoneLarge{
                font-size: 1.25em;
                width: 90%;
            }
            @include smartphoneMedium{
                font-size: 1.25em;
                width: 90%;
            }
            @include smartphone{
                font-size: 1.25em;
                width: 90%;
            }
        }

    }

}

// Proccess Section
.process_wrapper {
    background-color: $primaryBackground;
    text-align: center;

    h1 {
        @include pageHeading;
        color: $heroHeading;
        padding: 1em;
        @include laptopLarge {
            font-size: 3em;
        }
        @include laptop {
            font-size: 2.5em;
        }
        @include tablet {
            font-size: 2em;
        }
        @include smartphoneLarge {
            font-size: 2.5em;
        }
        @include smartphoneMedium {
            font-size: 2em;
        }
        @include smartphone {
            font-size: 2em;
        }

        span {
            color: $accent;
        }
    }

    .process_content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-basis: 25%;

        div {
            @include tablet {
                width: 50%;
            }
            @include smartphoneLarge {
                width: 100%;
                margin: 1em;
            }
            @include smartphoneMedium {
                width: 100%;
                margin: 1em;
            }
            @include smartphone {
                width: 100%;
                margin: 1em;
            }

            .magic {
                @include tablet {
                    margin-top: 2em;
                }
            }

            .result {
                @include tablet {
                    margin-top: 2em;
                }
            }
        }

        p {
            @include pageDescription;
            @include laptopLarge {
                font-size: 1.5em;
            }
            @include laptop {
                font-size: 1.25em;
            }
            @include tablet {
                font-size: 1.5em;
            }
            @include smartphoneLarge {
                font-size: 1.25em;
            }
            @include smartphoneMedium {
                font-size: 1em;
            }
            @include smartphone {
                font-size: 1em;
            }
        }

        img {
            @include laptopLarge {
                height: 100px;
                width: 100px;
            }
            @include laptop {
                height: 100px;
                width: 100px;
            }
            @include tablet {
                height: 100px;
                width: 100px;
            }
            @include smartphoneLarge {
                height: 80px;
                width: 80px;
            }
            @include smartphoneMedium {
                height: 80px;
                width: 80px;
            }
            @include smartphone {
                height: 80px;
                width: 80px;
            }
        }
        
    }
}

// Portfolio Section
.portfolio_wrapper {
    text-align: center;
    width: 70%;
    margin: 0 auto;

    h1 {
        @include pageHeading;
        @include laptopLarge {
            font-size: 3em;
        }
        @include laptop{
            font-size: 2.5em;
        }
        @include tablet{
            font-size: 2em;
        }
        @include smartphoneLarge{
            font-size: 2.5em;
        }
        @include smartphoneMedium{
            font-size: 2em;
        }
        @include smartphone{
            font-size: 2em;
        }
    }

    .carousel {
        margin: 3em 0 6em 0em;
        @include tablet {
            margin: 3em 0 6em 0em;
        }
    }
}

// Getting Started Section
.get_started_wrapper {
    text-align: center;
    margin: 3em 0;


    .get_started_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        @include smartphoneLarge {
            img {
                display: none;
            }
        }
        @include smartphoneMedium {
            img {
                display: none;
            }
        }
        @include smartphone {
            img {
                display: none;
            }
        }


        h1 {
            @include pageHeading;
            @include laptopLarge {
                font-size: 3em;
            }
            @include laptop {
                font-size: 2.5em;
            }
            @include tablet {
                font-size: 2em;
            }
            @include smartphoneLarge {
                font-size: 2.5em;
            }
            @include smartphoneMedium {
                font-size: 2em;
                width: 90%;
            }
            @include smartphone {
                font-size: 2em;
                width: 90%;
            }

            span {
                color: $accent;
            }
        }
    } 

    p {
        @include heroDescription;
        margin: 1em;
        font-size: 2em;
        @include smartphoneLarge {
            font-size: 1.25em;
        }
        @include smartphoneMedium {
            font-size: 1em;
        }
        @include smartphone {
            font-size: 1em;
        }
    }

    button {
        @include heroButton;
        margin: 1em;
        cursor: pointer;
        @include laptop {
            font-size: 1.5em;
        }
        @include tablet {
            font-size: 1.5em;
        }
        @include smartphoneLarge {
            font-size: 1.25em;
            padding: .5em 1em;
        }
        @include smartphoneMedium {
            font-size: 1.25em;
            padding: .5em 1em;
        }
        @include smartphone {
            font-size: 1em;
            padding: .5em 1em;
        }
    }
}

// Footer 
.footer_wrapper {
    background-color: $primaryBackground;
    color: $heroHeading;
    display: flex;
    flex-direction: column;
    text-align: center;

    .footer_sections {
        padding: .5em;
        margin: 0 auto;
        width: 30%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        a {
            text-decoration: none;
            @include footerSections;
        }
        @include tablet {
            width: 50%;
        }
        @include smartphoneLarge {
            width: 100%;
            justify-content: space-evenly;
        }
        @include smartphoneMedium {
            width: 100%;
            justify-content: space-evenly;
        }
        @include smartphone {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    .footer_socials {
        font-size: 2em;
        margin: 0 auto;
        width: 10%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-direction: row;
        color: $heroHeading;
        padding: .5em;
        @include laptop {
            width: 15%;
        }
        @include tablet {
            width: 20%;
        }
        @include smartphoneLarge {
            width: 70%;
            justify-content: space-evenly;
        }
        @include smartphoneMedium {
            width: 70%;
            justify-content: space-evenly;
        }
        @include smartphone {
            width: 70%;
            justify-content: space-evenly;
        }
    }

    span {
        @include footerSections;
        color: $description;
    }
}






// Flickity CSS
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}