// Importing font 'Roboto' thin and medium from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

// SASS Partial Files
@import 'partials/typography';
@import 'partials/colours';
@import 'partials/buttons';
@import 'partials/breakpoints';

// Styling
html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}

// Navigation
.nav_wrapper {
    display: flex;
    flex-direction: row;
    background-color: $primaryBackground;

    .nav_logo {
        flex: 1.14;
    }

    .nav_links {
        flex: 1;
        z-index: 1;
        background-color: $primaryBackground;
        padding: 1em 0;
        @include laptopLarge {
            flex: 0.95
        }
    }

    .nav_links ul {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: $heroHeading;

        li {
            color: $heroHeading;
            list-style: none;
            flex-basis: 20%;
            
            a {
                color: $heroHeading;
                text-decoration: none;
                @include navLinks;

                &:hover {
                    color: $accent;
                    transition: .3s;
                }
            }
        }
    }
}

// Hero Section
.hero_wrapper {
    display: flex;
    height: 90vh;
    align-items: center;
    background-color: $primaryBackground;
}

.hero_left {
    flex: 1;
    margin-left: 10%;
    @include laptopLarge {
        margin-left: 5%
    }

    h1 {
    @include heroHeading;
    @include laptopLarge {
        font-size: 3.5em;
    }
    }
        span {
            color: $accent;
        }

    p {
        @include heroDescription;
        margin: 50px 50px 50px 0px;
        @include laptopLarge {
            font-size: 1.75em;
        }
    }

    button {
        @include heroButton;
        cursor: pointer;
    }
}

.hero_right {
    flex: 1;
    height: 120vh;

    img {
        box-shadow: 0px 4px 7px rgba(0 , 0, 0, 0.2);
        z-index: -100;
        @include laptopLarge {
            height: 95%;
            width: 90%;
            float: right;
        }
    }
}

// About Section
.about_wrapper {
    height: 80vh;
    background-color: $secondaryBackground;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6%;
    @include laptopLarge {
        height: 70vh;
    }

    h1 {
        @include pageHeading;
        @include laptopLarge {
            font-size: 3.5em;
        }
    }

    p {
        @include pageDescription;
        margin: 2% 10%;
        @include laptopLarge {
            font-size: 1.75em;
        }
    }

    img {
        position: absolute;
        width: 48%;
        height: 50%;
        opacity: .1;
        top: 145%;
        left: 51%;
        z-index: 0;
        @include laptopLarge {
            top: 135%;
        }
    }
}

// Services Section

.services_wrapper {
    height: 200vh;
}

.row_one {
        display: flex;
        height: 50vh;
    

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 3em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 1.75em;
                width: 60%;
                padding-bottom: 2.5em;
            }
        }
    }

    .service_image {
        flex: 1;
    }
}

.row_two {
    display: flex;
    height: 50vh;

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 3em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 1.75em;
                width: 60%;
                padding-bottom: 2.5em;
            }
        }
}

.service_image {
    flex: 1;
}
}

.row_three {
    display: flex;
    height: 50vh;

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 3em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 1.75em;
                width: 60%;
                padding-bottom: 2.5em;
            }
        }
}

.service_image {
    flex: 1;
}
}

.row_four {
    display: flex;
    height: 50vh;

    .service_description {
        flex: 1;
        background-color: $primaryBackground;
        display: flex;
        flex-direction: column;

        h2 {
            @include serviceHeading;
            flex: 1;
            @include laptopLarge {
                font-size: 3em;
            }
        }

        p {
            flex: 2;
            @include serviceDescription;
            font-size: 2em;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            @include laptopLarge {
                font-size: 1.75em;
                width: 60%;
                padding-bottom: 2.5em;
            }
        }
}

.service_image {
    flex: 1;
}
}

// Testimonial Section
.testimonials_wrapper {
    background-color: $secondaryBackground;
    height: 50vh;
    display: flex;
    flex-direction: column;
    @include laptopLarge {
        height: 40vh;
    }

    .testimonial_heading {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
        h1 {
            @include pageHeading;
            @include laptopLarge {
                font-size: 3em;
                text-align: center;
            }

            span {
                color: $accent;
            }

            img {
                @include laptopLarge {
                    width: 10%;
                }
            }
        }
    }

    .tesimonial_content {
        flex: 2;
        
        img {
            position: absolute;
            margin: -3em 0 0 7em;
            opacity: .8;
        }

        p {
            width: 60%;
            text-align: center;
            margin: 2em auto;
            @include pageDescription;
            @include laptopLarge {
                font-size: 1.5em;
            }
        }

    }

}

// Proccess Section
.process_wrapper {
    background-color: $primaryBackground;
    text-align: center;

    h1 {
        @include pageHeading;
        color: $heroHeading;
        padding: 1em;
        @include laptopLarge {
            font-size: 3em;
        }

        span {
            color: $accent;
        }
    }

    .process_content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-basis: 25%;

        p {
            @include pageDescription;
            @include laptopLarge {
                font-size: 1.5em;
            }
        }

        img {
            @include laptopLarge {
                height: 100px;
                width: 100px;
            }
        }
    }
}

// Portfolio Section
.portfolio_wrapper {
    text-align: center;
    width: 70%;
    margin: 0 auto;

    h1 {
        @include pageHeading;
        @include laptopLarge {
            font-size: 3me;
        }
    }

    .portfolio_gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .row_one {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: 34%;

            .image_one {
                flex: 1;
            }
            

            .image_two {
                flex: 1;
            }
            
            .image_three {
                flex: 1;
            }
        }

        .row_two {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .image_four {
                flex: 1;
            }

            .image_five {
                flex: 1;
            }

            .image_six {
                flex: 1;
            }
        }
    }

}

// Getting Started Section
.get_started_wrapper {
    text-align: center;
    height: 50vh;
    @include laptopLarge {
        margin: 3em 0;
        height: 40vh;
    }

    .get_started_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: -2em;

        h1 {
            @include pageHeading;
            @include laptopLarge {
                font-size: 3em;
            }

            span {
                color: $accent;
            }
        }
    } 

    p {
        @include heroDescription;
        margin: 1em;
    }

    button {
        @include heroButton;
        margin: 1em;
        cursor: pointer;
    }
}

// Footer 
.footer_wrapper {
    background-color: $primaryBackground;
    color: $heroHeading;
    display: flex;
    flex-direction: column;
    text-align: center;

    .footer_sections {
        padding: .5em;
        margin: 0 auto;
        width: 30%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        a {
            text-decoration: none;
            @include footerSections;
        }
    }

    .footer_socials {
        font-size: 2em;
        margin: 0 auto;
        width: 10%;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-direction: row;
        color: $heroHeading;
        padding: .5em;
    }

    span {
        @include footerSections;
        color: $description;
    }
}