// Importing font 'Roboto' thin and medium from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

// SASS Partial Files
@import 'partials/typography';
@import 'partials/colours';
@import 'partials/buttons';

// Styling
body {
    padding: 0;
    margin: 0;
    background-color: $primaryBackground;
}

// Hero Section
.hero_wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
}

.hero_left {
    flex: 1;
    margin-left: 15%;

    h1 {
    @include heroHeading;
    }
        span {
            color: $accent;
       
        }

    p {
        @include heroDescription;
        margin: 50px 50px 50px 0px;
    }

    button {
        @include heroButton;
        
    }
}

.hero_right {
    flex: 1;
    height: 120vh;
    box-shadow: 0px 4px 7px rgba(0 , 0, 0, 0.2);
}

// About Section
.about_wrapper {
    height: 100vh;
    background-color: $secondaryBackground;
}

