@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#navbar {
  z-index: 1;
  border-color: red !important;
}

.hero_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2E2E2E;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_wrapper {
    background-image: url(../assets/images/tablet_hero.png);
    background-size: cover;
    background-color: transparent;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero_wrapper {
    background-image: url(../assets/images/tablet_hero.png);
    background-size: cover;
    background-color: transparent;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero_wrapper {
    background-image: url(../assets/images/hero_image_opacity_mobile.png);
    background-size: cover;
    background-color: transparent;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero_wrapper {
    background-image: url(../assets/images/hero_image_opacity_mobile.png);
    background-size: cover;
    background-color: transparent;
  }
}

@media (max-width: 320px) {
  .hero_wrapper {
    background-image: url(../assets/images/hero_image_opacity_mobile.png);
    background-size: cover;
    background-color: transparent;
  }
}

.hero_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero_left {
    margin-left: 5%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_left {
    margin-left: 0;
    text-align: center;
    margin-top: 0em;
    width: 50%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero_left {
    margin-left: 0;
    text-align: center;
    margin-top: 0em;
    width: 50%;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero_left {
    margin-left: 0;
    text-align: center;
    margin-top: -2em;
    width: 50%;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero_left {
    margin-left: 0;
    text-align: center;
    margin-top: -1em;
    width: 50%;
  }
}

@media (max-width: 320px) {
  .hero_left {
    margin-left: 0;
    text-align: center;
    width: 50%;
    margin-top: 1em;
  }
}

.hero_left h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 50px 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero_left h1 {
    font-size: 3.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_left h1 {
    font-size: 4em;
    color: #000000;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero_left h1 {
    font-size: 2.5em;
    color: #000000;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero_left h1 {
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
    color: #000000;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero_left h1 {
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
    color: #000000;
  }
}

@media (max-width: 320px) {
  .hero_left h1 {
    font-size: 1.5em;
    width: 100%;
    margin: 0 auto;
    color: #000000;
  }
}

.hero_left span {
  color: #00854B;
}

.hero_left p {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #969696;
  margin: 2em 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero_left p {
    font-size: 1.75em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_left p {
    color: #000000;
    font-size: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero_left p {
    color: #000000;
    font-size: 1.5em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero_left p {
    color: #000000;
    font-size: 1.25em;
    margin: 2em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero_left p {
    color: #000000;
    font-size: 1.1em;
    margin: 2em .5em;
  }
}

@media (max-width: 320px) {
  .hero_left p {
    color: #000000;
    font-size: 1em;
    margin: 2em .5em;
  }
}

.hero_left button {
  background-color: #00854B;
  color: #ffffff;
  border: none;
  font-size: 26px;
  padding: .5em 7em;
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_left button {
    width: 60%;
    font-size: 1.2em;
    padding: .8em 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero_left button {
    width: 70%;
    font-size: 1.2em;
    padding: .8em 3em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero_left button {
    width: 70%;
    font-size: 1em;
    padding: .8em 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero_left button {
    width: 70%;
    font-size: 1em;
    padding: .8em 3em;
  }
}

@media (max-width: 320px) {
  .hero_left button {
    width: 70%;
    font-size: .8em;
    padding: .8em 3em;
  }
}

.hero_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 110vh;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_right {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero_right {
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .hero_right {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero_right {
    display: none;
  }
}

@media (max-width: 320px) {
  .hero_right {
    display: none;
  }
}

.hero_right img {
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  z-index: -100;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero_right img {
    height: 95%;
    width: 90%;
    float: right;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_right img {
    height: 95%;
    width: 90%;
    float: right;
  }
}

.about_wrapper {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 6% 0;
  margin: 0 auto;
}

.about_wrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #000000;
  font-size: 4em;
  padding: 0 0 1em 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .about_wrapper h1 {
    font-size: 3.5em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about_wrapper h1 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .about_wrapper h1 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .about_wrapper h1 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .about_wrapper h1 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (max-width: 320px) {
  .about_wrapper h1 {
    font-size: 2em;
    padding: 1em 0;
  }
}

.about_wrapper p {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #969696;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 2em;
  width: 80%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .about_wrapper p {
    font-size: 1.75em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about_wrapper p {
    font-size: 1.5em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .about_wrapper p {
    font-size: 1.2em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .about_wrapper p {
    font-size: 1.25em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .about_wrapper p {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  .about_wrapper p {
    font-size: 1em;
  }
}

.about_wrapper img {
  position: absolute;
  width: 48%;
  height: 50%;
  opacity: .1;
  top: 125%;
  left: 51%;
  z-index: 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .about_wrapper img {
    top: 120%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about_wrapper img {
    top: 120%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .about_wrapper img {
    top: 120%;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .about_wrapper img {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .about_wrapper img {
    display: none;
  }
}

@media (max-width: 320px) {
  .about_wrapper img {
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .services_wrapper {
    height: auto;
  }
}

.row_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .row_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row_one .service_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2E2E2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row_one .service_description h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  text-align: center;
  font-weight: 300;
  color: #00854B;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4em;
  padding: 1em 0 0 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_one .service_description h2 {
    font-size: 4em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_one .service_description h2 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_one .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_one .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_one .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (max-width: 320px) {
  .row_one .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

.row_one .service_description p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-align: center;
  font-weight: 300;
  color: #969696;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_one .service_description p {
    font-size: 2em;
    width: 60%;
    padding-bottom: 2.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_one .service_description p {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_one .service_description p {
    font-size: 1.2em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_one .service_description p {
    font-size: 1.25em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_one .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (max-width: 320px) {
  .row_one .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

.row_one .service_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_one .service_image {
    margin: -4px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_one .service_image {
    margin: -4px;
  }
}

@media (max-width: 320px) {
  .row_one .service_image {
    margin: -4px;
  }
}

.row_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 320px) {
  .row_two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.row_two .service_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2E2E2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row_two .service_description h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  text-align: center;
  font-weight: 300;
  color: #00854B;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4em;
  padding: 1em 0 0 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_two .service_description h2 {
    font-size: 4em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_two .service_description h2 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_two .service_description h2 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_two .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_two .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_two .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (max-width: 320px) {
  .row_two .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

.row_two .service_description p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-align: center;
  font-weight: 300;
  color: #969696;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_two .service_description p {
    font-size: 2em;
    width: 60%;
    padding-bottom: 2.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_two .service_description p {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_two .service_description p {
    font-size: 1.2em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_two .service_description p {
    font-size: 1.25em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_two .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (max-width: 320px) {
  .row_two .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

.row_two .service_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_two .service_image {
    margin: -4px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_two .service_image {
    margin: -4px;
  }
}

@media (max-width: 320px) {
  .row_two .service_image {
    margin: -4px;
  }
}

.row_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .row_three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row_three .service_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2E2E2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row_three .service_description h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  text-align: center;
  font-weight: 300;
  color: #00854B;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4em;
  padding: 1em 0 0 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_three .service_description h2 {
    font-size: 4em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_three .service_description h2 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_three .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_three .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_three .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (max-width: 320px) {
  .row_three .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

.row_three .service_description p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-align: center;
  font-weight: 300;
  color: #969696;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_three .service_description p {
    font-size: 2em;
    width: 60%;
    padding-bottom: 2.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_three .service_description p {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_three .service_description p {
    font-size: 1.2em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_three .service_description p {
    font-size: 1.25em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_three .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (max-width: 320px) {
  .row_three .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

.row_three .service_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_three .service_image {
    margin: -4px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_three .service_image {
    margin: -4px;
  }
}

@media (max-width: 320px) {
  .row_three .service_image {
    margin: -4px;
  }
}

.row_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 320px) {
  .row_four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.row_four .service_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2E2E2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row_four .service_description h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  text-align: center;
  font-weight: 300;
  color: #00854B;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4em;
  padding: 1em 0 0 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_four .service_description h2 {
    font-size: 4em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_four .service_description h2 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_four .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_four .service_description h2 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_four .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (max-width: 320px) {
  .row_four .service_description h2 {
    font-size: 2em;
    padding: 1em 0;
  }
}

.row_four .service_description p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-align: center;
  font-weight: 300;
  color: #969696;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .row_four .service_description p {
    font-size: 2em;
    width: 60%;
    padding-bottom: 2.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row_four .service_description p {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .row_four .service_description p {
    font-size: 1.2em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .row_four .service_description p {
    font-size: 1.25em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .row_four .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

@media (max-width: 320px) {
  .row_four .service_description p {
    font-size: 1em;
    width: 70%;
    padding-bottom: 3em;
  }
}

.row_four .service_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.testimonials_wrapper {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials_wrapper .testimonial_heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em 0 0 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .testimonials_wrapper .testimonial_heading {
    padding: 2em 0 0 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .testimonials_wrapper .testimonial_heading img {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .testimonials_wrapper .testimonial_heading img {
    display: none;
  }
}

@media (max-width: 320px) {
  .testimonials_wrapper .testimonial_heading img {
    display: none;
  }
}

.testimonials_wrapper .testimonial_heading h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #000000;
  font-size: 4em;
  text-align: center;
  width: 90%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .testimonials_wrapper .testimonial_heading h1 {
    font-size: 4em;
    text-align: center;
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .testimonials_wrapper .testimonial_heading h1 {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 2.5em;
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .testimonials_wrapper .testimonial_heading h1 {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 2em;
    width: 90%;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .testimonials_wrapper .testimonial_heading h1 {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 2.5em;
    width: 90%;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .testimonials_wrapper .testimonial_heading h1 {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 2em;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .testimonials_wrapper .testimonial_heading h1 {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 2em;
    width: 90%;
  }
}

.testimonials_wrapper .testimonial_heading h1 span {
  color: #00854B;
}

.testimonials_wrapper .tesimonial_content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.testimonials_wrapper .tesimonial_content img {
  position: absolute;
  margin: -3em 0 0 7em;
  opacity: .8;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .testimonials_wrapper .tesimonial_content img {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .testimonials_wrapper .tesimonial_content img {
    height: 200px;
    width: 200px;
    margin: -2em 0 0 3em;
    opacity: 0.9;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .testimonials_wrapper .tesimonial_content img {
    height: 100px;
    width: 100px;
    margin: -2em 0 0 1em;
    opacity: 0.9;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .testimonials_wrapper .tesimonial_content img {
    height: 100px;
    width: 100px;
    margin: -2em 0 0 1em;
    opacity: 0.9;
  }
}

@media (max-width: 320px) {
  .testimonials_wrapper .tesimonial_content img {
    height: 100px;
    width: 100px;
    margin: -2em 0 0 1em;
    opacity: 0.9;
  }
}

.testimonials_wrapper .tesimonial_content p {
  width: 60%;
  text-align: center;
  margin: 2em auto;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #969696;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .testimonials_wrapper .tesimonial_content p {
    font-size: 2em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .testimonials_wrapper .tesimonial_content p {
    font-size: 1.5em;
    width: 70%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .testimonials_wrapper .tesimonial_content p {
    font-size: 1.5em;
    width: 85%;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .testimonials_wrapper .tesimonial_content p {
    font-size: 1.25em;
    width: 90%;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .testimonials_wrapper .tesimonial_content p {
    font-size: 1.25em;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .testimonials_wrapper .tesimonial_content p {
    font-size: 1.25em;
    width: 90%;
  }
}

.process_wrapper {
  background-color: #2E2E2E;
  text-align: center;
}

.process_wrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #000000;
  color: #ffffff;
  font-size: 4em;
  padding: 1em 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .process_wrapper h1 {
    font-size: 4em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .process_wrapper h1 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .process_wrapper h1 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .process_wrapper h1 {
    font-size: 2em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .process_wrapper h1 {
    font-size: 2em;
  }
}

@media (max-width: 320px) {
  .process_wrapper h1 {
    font-size: 1.8em;
  }
}

.process_wrapper h1 span {
  color: #00854B;
}

.process_wrapper .process_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 1em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .process_wrapper .process_content div {
    width: 30%;
    margin: 1em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .process_wrapper .process_content div {
    width: 30%;
    margin: 1em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .process_wrapper .process_content div {
    width: 100%;
    margin: 1em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .process_wrapper .process_content div {
    width: 100%;
    margin: 1em;
  }
}

@media (max-width: 320px) {
  .process_wrapper .process_content div {
    width: 100%;
    margin: 1em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .process_wrapper .process_content div .magic {
    margin-top: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .process_wrapper .process_content div .result {
    margin-top: 2em;
  }
}

.process_wrapper .process_content p {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #969696;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .process_wrapper .process_content p {
    font-size: 1.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .process_wrapper .process_content p {
    font-size: 1.25em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .process_wrapper .process_content p {
    font-size: 1em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .process_wrapper .process_content p {
    font-size: 1.25em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .process_wrapper .process_content p {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  .process_wrapper .process_content p {
    font-size: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .process_wrapper .process_content img {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .process_wrapper .process_content img {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .process_wrapper .process_content img {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .process_wrapper .process_content img {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .process_wrapper .process_content img {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 320px) {
  .process_wrapper .process_content img {
    height: 80px;
    width: 80px;
  }
}

.portfolio_wrapper {
  text-align: center;
  margin: 0 auto;
}

.portfolio_wrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #000000;
  font-size: 3em;
  padding: 1em 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .portfolio_wrapper h1 {
    font-size: 3em;
    padding: 1em 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .portfolio_wrapper h1 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .portfolio_wrapper h1 {
    font-size: 2.5em;
    padding: 1em 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .portfolio_wrapper h1 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .portfolio_wrapper h1 {
    font-size: 2em;
    padding: 1em 0;
  }
}

@media (max-width: 320px) {
  .portfolio_wrapper h1 {
    font-size: 2em;
    padding: 1em 0;
  }
}

.portfolio_wrapper .carousel {
  margin: 3em 0 6em 0em;
}

@media (min-width: 426px) and (max-width: 768px) {
  .portfolio_wrapper .carousel {
    margin: 3em 0 6em 0em;
  }
}

.get_started_wrapper {
  text-align: center;
  margin: 8em 0 4em 0;
}

.get_started_wrapper .get_started_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 376px) and (max-width: 425px) {
  .get_started_wrapper .get_started_header img {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .get_started_wrapper .get_started_header img {
    display: none;
  }
}

@media (max-width: 320px) {
  .get_started_wrapper .get_started_header img {
    display: none;
  }
}

.get_started_wrapper .get_started_header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #000000;
  font-size: 4em;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .get_started_wrapper .get_started_header h1 {
    font-size: 3em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .get_started_wrapper .get_started_header h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .get_started_wrapper .get_started_header h1 {
    font-size: 2em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .get_started_wrapper .get_started_header h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .get_started_wrapper .get_started_header h1 {
    font-size: 2em;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .get_started_wrapper .get_started_header h1 {
    font-size: 2em;
    width: 90%;
  }
}

.get_started_wrapper .get_started_header h1 span {
  color: #00854B;
}

.get_started_wrapper p {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #969696;
  margin: 1em;
  font-size: 2em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .get_started_wrapper p {
    font-size: 1.5em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .get_started_wrapper p {
    font-size: 1.5em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .get_started_wrapper p {
    font-size: 1.25em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .get_started_wrapper p {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  .get_started_wrapper p {
    font-size: 1em;
  }
}

.get_started_wrapper button {
  background-color: #00854B;
  color: #ffffff;
  border: none;
  font-size: 26px;
  padding: .5em 7em;
  margin: 1em;
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .get_started_wrapper button {
    font-size: 1.5em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .get_started_wrapper button {
    font-size: 1.2em;
    padding: .8em 5em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .get_started_wrapper button {
    font-size: 1em;
    padding: .8em 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .get_started_wrapper button {
    font-size: 1em;
    padding: .8em 3em;
  }
}

@media (max-width: 320px) {
  .get_started_wrapper button {
    font-size: .8em;
    padding: .8em 3em;
  }
}

.footer_wrapper {
  background-color: #2E2E2E;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer_wrapper .footer_sections {
  padding: .5em;
  margin: 0 auto;
  width: 60%;
  padding: 2em 0 0 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_wrapper .footer_sections a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .footer_wrapper .footer_sections {
    width: 60%;
    padding: 2em 0 0 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer_wrapper .footer_sections {
    width: 80%;
    padding: 2em 0 0 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer_wrapper .footer_sections {
    width: 80%;
    padding: 2em 0 0 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .footer_wrapper .footer_sections {
    padding: 2em 0 0 0;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .footer_wrapper .footer_sections {
    padding: 2em 0 0 0;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 320px) {
  .footer_wrapper .footer_sections {
    padding: 2em 0 0 0;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer_wrapper .footer_socials {
  font-size: 2em;
  margin: 0 auto;
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  padding: .5em;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .footer_wrapper .footer_socials {
    width: 40%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer_wrapper .footer_socials {
    width: 60%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer_wrapper .footer_socials {
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .footer_wrapper .footer_socials {
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .footer_wrapper .footer_socials {
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 320px) {
  .footer_wrapper .footer_socials {
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer_wrapper .icon_atrribution {
  font-size: .3em;
  color: #969696;
}

.footer_wrapper .icon_atrribution a {
  text-decoration: none;
  color: #969696;
}

.footer_wrapper span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
/*# sourceMappingURL=style.css.map */