// Background Colours
$primaryBackground: #2E2E2E;
$secondaryBackground: #ffffff;

// Font Colours
$heroHeading: #ffffff;
$secondaryHeading: #000000;
$description: #969696;

// Other
$accent: #00854B;

