@import 'colours';

@mixin heroHeading {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: $heroHeading;
    margin: 0 0 50px 0;
}

@mixin heroDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: $description;
}

@mixin pageHeading {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 300;
    color: $secondaryHeading;
}

@mixin pageDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: $description;
}

@mixin serviceHeading {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    text-align: center;
    font-weight: 300;
    color: $accent;
}

@mixin serviceDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    color: $description;
}
